PORT=5000
NODE_ENV=development
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=
AZURE_KEY_VAULT_URL=
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_CONNECTION=
AZURE_SERVICE_BUS_CONNECTION=
AZURE_APPINSIGHTS_KEY=